
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.container{
    background-color: #e8e6e6;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.search{
  width: 40px;
  margin-left: 12px;
  height: 50px;
  color: black;
  font-size: 25px;
  padding-top: 12px;
}
.navbar{
    margin-right: 606px;
    margin-top: 12px;
    
}
.navbar a{
    position: relative;
    color: rgb(2, 3, 4);
    font-weight: 500;
    text-decoration: none;
    padding: 7px;
    font: inherit;
    font-size: 16px;
}
#icon{
    width: 70px;
    border: none;
    background: transparent;

}
.page-one{
    width: 100%;
    background: url('audi/image-5.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.left{
    padding-top: 120px;
    padding-left: 76px;
}
.left h1{
    font-size: 45px;
    font-family: "poppines",sans-serif;
    font-weight:456;
}
.left h4{
    font-size: 20px;
    font-weight: 40;
}
.btn{
    width: 180px;
    height: 60px;
    background: black;
    color: #fff;
    font-size: 16px;
    margin-top: 21px;
    border: none;
}
.wrapper{
    max-height: 200px;
    border: 5px solid #f1f0f0;
    display: flex;
    overflow-x: auto;
    background: white;
    
}
.item{
    min-width:  200px;
    height: 150px;
    line-height: 0px;
    text-align: center;
    margin: 2px;
    margin-left: 20px;
    background-color: #ef9494;
    
}
.page-three{
    display: flex;
    width: 100%;
}
.left-three{
    padding: 50px;
    width: 50%;
    height: 600px;
    padding-left: 10px;
    margin-left: 140px;
    
}
.right-three{
    width: 50%;
    
}
.con{
    margin-top: 248px;
    margin-left: 50px;
}
.con h1{
    font-size: 46px;
    font-weight: 176;
    font-family: "poppins",sans-serif;
}
.btn1{
    width: 241px;
    height: 52px;
    background: transparent;
    color: black;
    margin-top: 22px;
    font-size: 15px;
  }
  .page-four{
    width: 100%;
    height: 130vh;
    background: url('audi/car11.jpg') no-repeat;
    background-size: cover;
    margin-top: 23px;
    padding-top: 160px;
    padding-left: 120px;

  }
  .box{
    width: 600px;
    height: 350px;
    background: #e8e6e6;
    padding: 55px;
    
  }
  .etro-btn{
    width: 135px;
    height: 55px;
    background: black;
    color: #fff;
    font-size: 16px;
  }
  .fut-btn{
    width: 200px;
    height: 55px;
    font-size: 16px;
  }
  .page-five{
    width: 100%;
    height: 80vh;
    display: flex;
    
  }
  .five-left{
    width: 35%;
    background: black;
    justify-content: space-between;
  }
  .five-right{
    width: 65%;
    background: url('audi/map.png')no-repeat;
    background-size: cover;
    
    
  }
  .page-six{
    width: 100%;
    height: 100vh;
    margin-top: 75px;
    display: flex;
  }
  .six-left{
    width: 55%;
    background: black;
    color: aliceblue;
    padding: 50px;
  }
  .six-right{
    width: 45%;
   
  }
  .myaudi{
    width: 220px;
    height: 59px;
    background: transparent;
    color: #fff;
    font-size: 16px;
  }
  .audi{
    width: 170px;
    height: 59px;
    background: transparent;
    color: #fff;
    font-size: 16px;

  }
  .page-seven{
    width: 100%;
    height: 130vh;
    margin-top: 30px;
  }
  .seven-1{
    width: 100%;
    
    height: 450px;
    display: flex;
    padding: 30px;
    
  }
  .seven-2{
    width: 100%;
    
    height: 450px;
    display: flex;
    padding: 30px;
  }
  .pp{
    width: 33.33%;
    height: 100%;
    
    margin-top: 80px;
    padding: 5px;
  }
  .up{
    width: 500px;
    height: 80px;
    position: absolute;
  }
  .img{
    width: 100%;
  }
  #lin{
    text-decoration: none;
    color: black;
    font-weight: 550;
  }
  .page-eight{
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
    height: 73vh;
    display: list-item;
  }
  .upp{
    position: absolute;
    height: 70px;
    width: 100%;
    text-align: right;
    padding-top: 25px;
    padding-right: 70px;
    font-size: 13px;
  }
  .colum{
    width: 100%;
    height: 430px;
    display: flex;
    padding: 40px;
  }
  .col{
    margin-top: 80px;
    width: 20%;
    height: 70%;
    text-align: left;
    padding-left: 40px;

  }
  .colum p{
    font-size: 12px;
    color: rgb(244, 246, 241);
  }
  .colum label{
    font-size: 20px;
  }
  .socialmedia{
    position: absolute;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    text-align: right;
    padding-right: 30px;
    margin-left: 30px;
    
    
  }
  .socialmedia .log{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    color: #f1f0f0;
  }
  .conclution{
    background: black;
    width: 100%;
    height: 340px;
    position: absolute; 
    
  }
  .main{
    width: 100%;
    height: 100%;
    
    color: #f1f0f0;
  }
  .main li a{
    text-decoration: none;
    color: #e8e6e6;
    font-size: 12px;
    
    
  }
  ul{
    margin-left: 70px;
    list-style-type: none;
  }
  ul li{
    margin: 20px;
    float: left;
    
  }
  .conclution p{
    position: absolute;
    top: 90px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 13px;
  }
  



